# vim: ft=desktop tw=0
[general]
## Hotkey to use
# Can use a name or keycode here. Use xev to get the keycode or keyname
hotkey = space
# Modifiers
# Valid values are: ctrl, shift, alt, meta, super, win, windows
#                   mod1, mod2, mod3, mod4, mod5
# You can use C,S,A,M,W instead of ctrl, shift, alt, meta, windows
modifiers = super

## Time to wait before starting to type
# If you find that you are missing the beginning of snippets, then increase
# this a little.
delay = 0.1

# Here are the actual snippets
# The special snippet values snippet:quit and snippet:reload quit the program
# and reload the config file respectively
[snippets]
test=Testing 1..2..3
testdesc=Test snippet

hi=Hello World!
hidesc=You always have to have a Hello World!

# Note the % needs escaping, but no other symbol does
sym=!@#$%%^&*()-=_+[]{};':"<>,./?|\`~
symdesc=Test all symbols
